@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@import url(font.css);

@import url(reset.css);

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #333;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px #deb887, 4px 4px 4px #5f9ea0;
}

.header__nav,
.section h2,
.section .accent {
  font-weight: 600;
}

.header__nav ul li a {
  color: #0000ff8f;
  text-decoration: overline;
  text-decoration-color: #8a2be2;
  text-decoration-thickness: 2px;
}

.section h2 {
  line-height: 2;
  color: #8b0000;
  text-transform: uppercase;
  text-align: right;
  word-spacing: 8px;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.section .strike {
  text-decoration: line-through;
  text-decoration-color: #008000;
  text-decoration-thickness: 2px;
  text-shadow: 0px 4px 4px #ffff0080;
}

.section .accent {
  font-size: small;
  color: #8a2be2;
  text-transform: uppercase;
  text-decoration-color: #008000;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.footer {
  font-style: italic;
  text-align: center;
  color: #d2691e;
}