/* DM Sans Font */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:wght@400,700&display=swap");

/* Work Sans Font */
@import url(font.css);

@import url(reset.css);

body {
  /* HTML підключення */
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #333;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px #deb887, 4px 4px 4px #5f9ea0;
}

.header__nav,
.section h2,
.section .accent {
  font-weight: 600;
}

.header__nav {
  text-align: right;
  color: #0000ff8f;
}

.header__nav ul li a {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.section h2 {
  line-height: 2;
  color: #8b0000;
  text-transform: uppercase;
  word-spacing: 8px;
  text-decoration: overline;
  text-decoration-color: #8a2be2;
  text-decoration-thickness: 2px;
}

.section .strike {
  text-decoration: line-through;
  text-decoration-color: #008000;
  text-decoration-thickness: 2px;
  text-shadow: 0px 4px 4px #ffff0080;
}

.section .accent {
  font-size: small;
  color: #8a2be2;
  text-transform: uppercase;
  text-decoration-color: #008000;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.footer {
  font-style: italic;
  text-align: center;
  color: #d2691e;
}

/* Personal Portfolio Section */
.portfolio {
  /* @font-face підключення */
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #556070;
}

.portfolio h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 1.32;
  color: #132238;
}

/* Landing Page Section */
.landing {
  /* HTML підключення */
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.66;
  color: #505F98;
}

.landing h2 {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.32;
  letter-spacing: 1px;
  color: #091133;
}