@import url(reset.css);

/* Тип №0. Селектор зірочка * */
* {
  color: darkslategrey;
}

/* Тип №1. Селектор тегу */
h2 {
  color: brown;
}

/* Тип №2. Селектор класу */
.list__item {
  color: blue;
}

/* Тип №3. Селектор ID */
#main-title {
  color: red;
}

/* Тип №4. Селектор атрибутів */
[class*="god"] {
  color: darkred;
}


/* КОМБІНАЦІЇ СЕЛЕКТОРІВ */

/* Тільки елементи з даним класом */
mark.first-letter {
  color: crimson;
}

/* Звертання до декількох класів, тегів або ID одночасно */
h3,
.block#scythians h2,
a[href="#culture"] {
  color: green;
}


/* КАСКАДНІСТЬ (ВКЛАДЕНІСТЬ) СЕЛЕКТОРІВ */

/* Звертання до тегів в середині елемента з класом і ID одночасно */
.block#culture h2 {
  color: midnightblue;
}

/* Звертання до усіх об'єктів в середині елемента з класом */
.scythian-aspects *{
  color: purple;
}

/* Звертання до елемента з класом, що знаходиться в середині елемента з класом */
.scythian-aspects .aspect {
  color: blue;
}


/* СПЕЦІАЛЬНІ СИМВОЛИ */

/* Звертання до усіх тегів першого рівня в середині елемента з класом */
.block>p {
  color: darkturquoise;
}

/* Звертання до всіх об'єктів за тегом, що знаходяться безпосередньо далі по коду на одному рівні з елементом, що є першим вкладеним в тег div, який кладений в елемент з класом і ID одночасно */

.block#culture div>p~p {
  color: red;
}

/* Звертання до об'єкта, що знаходяться безпосередньо далі по коду на одному рівні з елементом. */
.scythian-aspects+p {
  color: darkgreen;
}