/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:wght@400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:wght@400,700&display=swap");

/* Reset */
@import url("reset.css");

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #a7ccc284;
}

header {
  padding-block: 30px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px #deb887, 4px 4px 4px #5f9ea0;
}

.temporary-mb {
  margin-bottom: 15px;
}

.section-1__wrapper,
.section-2__wrapper {
  background-color: #fff;
  margin-bottom: 40px;
  padding-block: 40px;
}

.section-1 {
  max-width: 539px;
  margin: 0 auto;
}

.section-1__title {
  font-size: 50px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.32;
  letter-spacing: 1px;
  color: #091133;
  margin-bottom: 20px;
}

.section-1__text {
  font-size: 18px;
  line-height: 1.66;
  color: #505F98;
  margin-bottom: 69px;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  border-radius: 2px;
  padding: 5px 10px;
  min-width: 189px;
  cursor: pointer;
  border: 2px solid transparent;
}

.btn.full {
  color: #fff;
  background-color: #111B47;
  margin-right: 30px;
}

.btn.empty {
  color: #091133;
  background-color: inherit;
  border-color: #091133;
}

/* Section 2 */
.section-2 {
  max-width: 520px;
  margin: 0 auto;
  overflow: hidden;
}

.section-2__title {
  font-size: 36px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.33;
  color: #091133;
  margin-bottom: 16px;
}

.section-2__text {
  font-size: 16px;
  line-height: 1.62;
  color: #6F7CB2;
  margin-bottom: 70px;
}

.info-cards {
  margin-left: -15px;
  margin-right: -15px;
  font-size: 0;
}

.info-card__wrapper {
  display: inline-block;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;
  margin-bottom: 30px;
}

.info-card__icon {
  max-width: 36px;
  margin-bottom: 14px;
}

.info-card__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  color: #091133;
  margin-bottom: 6px;
}

.info-card__text {
  font-size: 12px;
  line-height: 1.5;
  color: #5D6970;
}

/* Section 3 */
.section-3__wrapper {
  background-color: #141414;
  padding: 60px 40px;
  margin-bottom: 30px;
}

.section-3 {
  max-width: 1597px;
  font-family: "Manrope", sans-serif;
}

.section-3__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 14px;
}

.section-3__text {
  font-size: 18px;
  line-height: 1.5;
  color: #999;
  margin-bottom: 80px;
}

.device-cards {
  margin-left: -15px;
  margin-right: -15px;
  font-size: 0;
}

.device-card__wrapper {
  display: inline-block;
  max-width: 33.333%;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;
  margin-bottom: 30px;
}

.device-card {
  padding: 50px;
  border-radius: 12px;
  border: 1px solid #262626;
  background: linear-gradient(222deg, rgba(229, 0, 0, 0.50) -208.03%, rgba(229, 0, 0, 0.00) 41.32%), #0F0F0F;
}

.device-card__header {
  margin-bottom: 30px;
}

.device-card__icon {
  display: inline-block;
  width: 72px;
  height: 72px;
  padding: 16px;
  margin-right: 16px;
  border-radius: 12px;
  border: 1px solid #1F1F1F;
  background-color: #141414;
  vertical-align: middle;
}

.device-card__title {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: #FFF;
  vertical-align: middle;
}

.device-card__text {
  font-size: 18px;
  line-height: 1.5;
  color: #999;
}

.footer {
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px #deb887, 4px 4px 4px #5f9ea0;
}